body {
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.fullscreen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
a,
button {
  color: aliceblue;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
input,
textarea,
th,
ul,
div,
span,
i,
canvas {
  background: transparent;
  border: 0;
  border-radius: 0;
  list-style: none;
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: 0;
  text-align: inherit;
  vertical-align: baseline;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, Helvetica, sans-serif sans-serif;
}
.flex {
  display: flex !important; /*  ưu tiên áp dụng thuộc tính */
}
.flex-col {
  flex-direction: column !important;
}
.flex-basis-0 {
  flex-basis: 0% !important;
}
.flex-shrink {
  flex-shrink: 1 !important;
}
.flex-shrink-0 {
  flex-shrink: 1 !important;
}
.flex-grow {
  flex-grow: 1 !important;
}
.order-0 {
  order: 0 !important;
}
.overflow-hidden {
  overflow: hidden !important; /*nội dung sẽ ẩn nếu vượt quá kích thước của phần tử  */
}
.justify-end {
  justify-content: flex-end !important;
}
*::before,
*::after {
  box-sizing: border-box;
}
.full-height {
  height: 100vh;
}
.side-bar-wrapper {
  transition: width 0.2s;
  padding: 1.5rem 0 0.5rem;
  background-color: rgba(40, 41, 43, 1);
  color: rgba(255, 255, 255, 0.85);
}

.mt-14 {
  margin-top: 3.5rem;
}
.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}
.order-3 {
  order: 3 !important;
}
.w-56 {
  width: 14rem !important;
}

.ps--size-md {
  --ps-size: 6px; /*biến tuỳ chỉnh trong css */
}
.scrollbar-container {
  position: relative;
  height: 100%;
}
.ps {
  overflow-anchor: none;
  touch-action: auto;
}
.w-full {
  width: 100% !important;
}
.px-2 {
  padding-left: 0.5rem; /* tạo khoảng trống xung quanh nội dung bên trong 1 phần tử */
  padding-right: 0.5rem;
}
.feature-item {
  position: relative;
  border-radius: 0.875rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}
.spacer-component {
  display: inline-block;
  position: relative;
}

.side-bar-wrapper .feature-bar-top .feature-item .tb {
  white-space: nowrap;
}
.side-bar-wrapper .feature-label {
  opacity: 1; /* độ mờ phần tử */
  transition: opacity 0.2s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.side-bar-wrapper .feature-bar-top .feature-item {
  justify-content: unset;
  margin: 0.25rem 0;
  width: 100%;
}
.side-bar-wrapper .feature-bar-top .feature-item i {
  flex: none;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.side-bar-wrapper .feature-bar-bottom {
  flex-direction: column;
  justify-content: flex-end;
}
.side-bar-wrapper .feature-bar-bottom .feature-item {
  justify-content: unset;
  margin: 0.25rem 0;
  width: 100%;
}
.side-bar-wrapper .feature-bar-bottom .feature-item i {
  flex: none;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.side-bar-wrapper .feature-bar-bottom .feature-item .tb {
  white-space: nowrap;
}
.side-bar-wrapper .feature-bar-bottom .feature-item .feature-text {
  flex: none;
  width: 2.5rem !important;
  height: 2.5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: unset;
  border: none;
}
.feature-text .text-container {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.side-bar-wrapper .collapse-button {
  justify-content: unset !important;
  margin: 0.25rem 0 !important;
  width: 100%;
}
.side-bar-wrapper .collapse-button .active {
  margin: 0.25rem 0 !important;
  justify-content: unset;
}
.side-bar-wrapper .collapse-button i {
  flex: none;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.side-bar-wrapper .collapse-button .tb {
  white-space: nowrap;
}
.border-panel {
  box-shadow: none;
}
.border-panel::before {
  position: absolute;
  display: block;
  content: "";
  width: 3px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0.5px 0 0 whitesmoke; /* hiệu ứng đổ bóng cửa phần tử*/
}
.flex-panel {
  position: relative;
  background-color: rgba(40, 41, 43, 1);
  color: rgba(255, 255, 255, 0.85);
}
.layout-column {
  display: flex;
  flex-direction: column;
}

.panel-body {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
  overflow: hidden;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
.tab-control {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}
.tab-control .tab-header-wrap {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.tab-control .tab-header-wrap .tab-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.tab-control .tab-header-wrap .tab-header .tab-title {
  padding: 0 2rem 0 1rem;
  margin-right: 1 rem;
  text-transform: uppercase;
  font-weight: 700;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.tab-control .tab-header-wrap .tab-header .tab-item-header.active {
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(55, 114, 255);
}
.btn--empty .btn--default {
  --color: rgba(255, 255, 255, 0.85);
}
.btn-md {
  --button-height: calc(40 / 16 * 1em);
}
.btn--default {
  --btn-color-rgb: 99, 99, 99;
  --btn-color: rgba((99, 99, 99), (1));
}
.btn--empty {
  --active-shadow-inner-rgb: 99, 99, 99;
}
/* .btn {
  --button-height: 2.25rem;
  --icon-ratio: 0;
  --color: rgba(255, 255, 255, 0.95);
  --btn-alpha: 1;
  --btn-disabled-alpha: 0.5;
  --hover-state: rgba((255, 255, 255), 0.1);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
} */
.tab-control .tab-header-wrap .tab-header .tab-item-header.active span {
  font-weight: 500;
  opacity: 1;
}
.btn__content {
  z-index: 1;
}
.relative {
  position: relative !important;
}
.item-center {
  align-items: center !important;
}

.justify-center {
  justify-content: center !important;
}
.inline-flex {
  display: inline-flex !important;
}
.tab-control .tab-header-wrap .tab-header .tab-item-header {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  border-radius: 0;
  padding: 0;
}
.tab-control .tab-content .tab-item-content.active {
  display: flex;
  flex-direction: column;
}
.tab-control .tab-content .tab-item-content {
  flex: 1;
  display: none;
  overflow: hidden;
}
.resizable-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
}
.ps.scrollbar-container {
  --ps-rail-hover-color: rgba((255, 255, 255), 0.1);
  --ps-thumb-color: rgba((255, 255, 255), 0.2);
  --ps-thumb-hover-color: rgba((255, 255, 255), 035);
}
.ps--size-md {
  --ps-size: 6px:
}
.scrollbar-container {
  position: relative;
  height: 100%;
}
.section-panel .section-header {
  padding:  0.5rem 1rem;
  margin-bottom: 0;
}
.section-header {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.form-group {
  display: flex;
  padding: 1rem;
  flex: 1;
}
 .form-group-column {
  flex-direction: column;
}
.form-group .form-group {
  padding-right: 0;
  background: none;
}
.form-control-row {
  flex-direction: row;
  align-items: center;
}
.form-control-label {
  display: flex;
  margin:  0.125rem 0;
  min-height: 2rem;
}
.form-control-label .form-control-row .form-label {
  margin-right: 1rem;
}
.form-control-label .form-label-align-left {
  text-align: left;
}
.form-label {
  color: rgba(255, 255, 255, 0.55);
  font-size: 0.875rem;
}
.break-words {
  overflow-wrap: break-word  !important;
}
.form-control-container {
  flex: 1;
  position: relative;
  height: fit-content;
  min-width: 0;
}
div.form-input-group {
  display: flex;
  align-items: center;
  flex: 1;
  outline: 0;
  padding: 0;
  margin: 0.125rem 0;
  background: rgb(25, 26, 28);
  border: 0;
  box-shadow: 0 0 0 0.7px rgba(255, 255, 255, 0.15);
}
div.form-control {
  text-overflow: ellipsis;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.85);
  background: rgb(25, 26, 28);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius:  0.25rem;
  width: 100%;
  min-height: 2rem;
  padding: 0 0.5rem;
  margin: 0;
  outline: none;
}
div.form-input-group input:not([type=checkbox]):not([type=radio])
{
  text-overflow: inherit;
  box-sizing: border-box;
  flex: 1;
  color: rgba(255, 255, 255, 0.85);
  width: 100%;
  min-height: 2rem;
  outline: none;
}
.form-control input:not([type=checkbox]):not([type=radio])
{
  width: 100%;
}
div.form-input-group input:not(.dropdown-input) {
  padding: 0 0.5rem;
}
div.form-input-group .input-append {
  border-radius: 0 0.25rem 0.25rem 0;
}
div.form-input-group .input-append {
  background: rgba(255, 255, 255, 0.15);
}
.h-max {
  height: max-content !important;
}
.as-container {
  position: relative;
  flex: 1;
}
.as-container .as-control-container {
 position: relative;
 display: flex;
 align-items: center;
 padding: 0 0.5rem;
 gap: 0.5 rem;
 outline: 0;
 border-radius: 0.25rem;
 background-color: rgb(25, 26, 28);
 box-sizing: border-box;
 min-height: 2rem;
 cursor: pointer;
}
.as-container .as-control-container .dropdown-btn {
  width: 100%;
  text-align: left;
  outline: none;
  color: rgba(255, 255, 255, 0.85);
  overflow: hidden;
  line-height: normal;
}
/* .as-container .as-control-container .dropdown-input {
  color: rgba(255, 255, 255, 0.85);
  background: transparent;
  text-align: left;
  outline: none;
  width: 100%;
  height: 100%; 
} */
.dropdown-btn select{
  background-color: rgb(25, 26, 28);
  border: none;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;  
  width: 100%;
}
.dropdown-btn--hidden {
  display:none;
}
.as-container .as-control-container .arrow {
  flex:none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.form-control-column {
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.form-control-column .form-label {
  line-height:  2rem;
}
.w-max {
  width: max-content !important;
}
.range-slider__labels-container {
  margin-bottom:  4px;
  position: relative;
  z-index: 1;
}
.range-slider__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.slider-mark-container {
  height: inherit;
}
.slider-mark-container .slider-mark-dot {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
.range-slider__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider-mark-container .slider-mark-dot .slider-mark {
  position: absolute;
  background-color: rgba(192, 192, 192, 0.3);
  border: 2px solid;
  box-sizing: content-box;
}
.track {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(192, 192, 192, 0.3);
  border-radius: 5px;
}
.slider__rail {
  display: block;
  position: absolute;
  background-color: rgba(192, 192, 192, 0.3);
  border-radius: 5px;
  width: 100%;
  height: inherit;
  top: 0;
}
.slider-mark-label-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 14px;
}
.checkbox-form {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 0.25rem 0;
}
.checkbox-form .checkbox-item {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  max-width: 100%;
  vertical-align: top;
  isolation: isolate; /* thuộc tính cách ly xác định liệu phần tử có phải tạo nd xếp chồng mới hay hok*/
  padding: 0.25rem;
} 
.checkbox-form input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox-form .radio-input {
  width: calc(1.25rem * 1);
  height: calc(1.25rem * 1);
  min-width: calc(1.25rem * 1);
  min-height: calc(1.25rem * 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(25, 26, 28);
  border: 0.1rem solid rgba(255, 255, 255, 0.15);
  position: relative;
}
.radio-input {
  border-radius: 50%;
}
.checkbox--icon-md {
  --icon-radio: 1;
}
.checkbox-form .checkbox-label {
  margin-left: 0.5rem;
}
.dtp-container {
   position: relative;
   flex: 1;
}
.dtp-control-container {
  position: relative;
  display: flex;
  align-items: center;
  outline: 0;
  border-radius: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  min-height: 2rem;
}
.border-0 {
  border-width: 0px !important;
}
.dtp-control-container .calendar {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
}
.dtp-control-container .calendar i {
  color: rgba(255, 255, 255, 0.85) !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
}
.dtp-control-container .input-text-from, .dtp-control-container .input-text-to {
  color: rgba(255, 255, 255, 0.85);
  padding: 0 0.5rem;
  border: none;
  border-radius: 0.25rem 0 0 0.25rem;
  line-height: 2rem;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
}

.form-control-container i {
  border: none;
  min-height: unset;
  padding: 2px;
}
.justify-space-between {
  justify-content: space-between;
}
.layout-row {
  display: flex;
}
.w-28 {
  width: 7rem !important;
}
.panel-footer {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: rgba(30,31,33,1);
}
.panel-footer .panel-footer-actions {
  display: flex;
}
.panel-footer .panel-footer-actions button {
  flex: 1;
  margin: 0.25rem;
  color: rgba(255, 255, 255, 0.95);
}
.bt--sm {
  --button-height: calc(32/16 *1em);
}
.btn--primary {
  --btn-color--rgb:55,114,255;
  --btn-color:rgba((55,114,255), 1);
}
.btn--fill {
  --button-bg: rgba(55,114,255,1);
  --hover-stroke: rgba (var(--btn-color),1);
}
.btn {
  --button-height:2.25rem; /*Khai báo biến css*/
  --icon-ratio:0;
  --btn-alpha:1;
  --btn-disabled-alpha:0.5;
  --hover-state:rgba((255,255,255),0.1);
  --active-state:rgba((0,0,0),0.1);
  --active-shadow-inner-rgb: 0,0,0;
  --active-shadow-inner-alpha:0.1;
  --active-shadow-inner: rgba (var(--active-shadow-inner-rgb),var(--active-shadow-inner-alpha));
  --border-color:rgba(55,114,255,1);
  --transition-duration:300ms ;
  --border-radius:0.25rem;
  --border-width:1px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: var(--button-height);
  color: rgba(255, 255, 255, 0.95);
  background-color: var(--button-bg);
  touch-action: manipulation;
  transition: all var(--transition-duration) ease-in-out;
  cursor: pointer;
  border: var(--border-width) solid transparent;
}
.btn--sm .btn__text {
  --text-size: calc (14/16 *1rem );
}
.btn__text {
  font-size: var(--text-size);
}
.resizable-container .draggable {
  position: relative;
  display: flex;
  z-index: 10; /* xác định vị trí sắp xếp các phần tử chồng lên nhau*/
}
.resizable-h .line {
  flex: 1;
  position: absolute;
  padding: 0 3px;
  left: -3px;
  height: 100%;
}
 .resizable-h .line::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50% );
  border-right: 2px solid rgba(255,255,255,0.15); /*đinh dạng và thiết lập các thuộc tính của viền phía bên phải phần tử*/
  transition-duration: 0.15s;
  transition-timing-function: ease; /*xác định cách thức thay đổi giá trị của 1 thuộc tính trong quá trinh chuyển tiếp*/
  transition-delay: 0s;
  /* transition-property: var(--border-color); */
}
.map-layout-toolbar {
  background-color: rgba(255, 255, 255, 0.05);
}
.p-0 {
  padding: 0;
}

.gap-4 {
  gap: 1rem; /* Thiết lập khoảng cách giữa các phần tủ trong flex-box*/ 
}
.justify-between {
  justify-content: space-between !important;
}
.gap-2 {
  gap: 0.5rem !important;
}
.map-layout-view-mode--inactive {
  color: rgb(99, 99, 99);
}
.btn--only-icon {
  width: var(--button-height);
  height: var(--button-height);
  padding: 0.375rem;
}
.btn--icon-sm {
  --icon-ratio:0.5s;
}
                                      
.dropdown_ht {
  width: 200px;
}
.h-full {
  height: 100% !important;
}
.gap-1 {
  gap: 0.25rem;
}

.p-4 {
  padding: 1rem;
}
.btn--outline .btn--default {
  --hover-stroke-alpha:0.3;
  --color:rgba(255,255,255,0.85);
  --button-outline:rgba(255,255,255,0.15);
  --hover-stroke-alpha:0.5;
  --hover-stroke:rgba((255,255,255),var(--hover-stroke-alpha))
}
.btn-icon .btn--default {
  --btn-color: rgba(255,255,255,0.55);
  --button-outline:rgba(255,255,255,0.1);

}
.btn--outline:disabled {
  --button-outline-alpha:0.4;
}
.btn:disabled {
  cursor: not-allowed;
}
.btn--outline {
  --button-outline-alpha:0.05;
  --button-outline:rgba((99,99,99),var(--button-outline-alpha));
  --color:var(--btn-color);
  --hover-stroke:rgba((var(--btn-color--rgb),0.5));
  --active-shadow-inner-rgb:var(--btn-color--rgb);
  --active-shadow-inner-alpha:0.1;
  border-color: var(--button-outline);

}
.rounded-lg {
  border-radius: 0.5rem !important;
}
.btn--xs {
  --button-height:calc(24/16 *1em);
}

.data-grid-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;

  
}
.data-grid-content {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
}
.data-grid-container {
  overflow: hidden;
  width: 100%;
  flex: 1;
  position: relative;
}

.data-grid {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
  position: absolute;
}
.data-grid .dg-header {
  overflow: hidden;
  top: 0;
  font-size: 0.75rem;
}

.dg-header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0;
  padding: 0;
  border: 0;
  position: sticky;
  z-index: 3;

}

.dg-freeze, .dg-freeze-end{
 z-index: 2;
 position: sticky !important;
}

.dg-freeze ::after {
  content: "";
  position:absolute;
  top:0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255,255,255,0.1);
}

.dg-freeze-end ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255,255,255,0.1);
}
.dg-header-item {
  position: relative;
  background-color: rgba(40, 41, 43, 1);
}
.dg-header-item .dg-cell div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 
}
.dg-header-item .dg-cell {
  height: 100%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.05);
  word-break: break-word; /*kiểm soát ngắt từ*/
  white-space: nowrap;
  padding: 0.5rem 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;

}

.data-grid-container .scrollbar-container {
  overscroll-behavior-x:  contain;
  overscroll-behavior-y: contain;
}
.ps.scrollbar-container {
  --ps-rail-hover-color: rgba((255,255,255),0.1);
  --ps-thumb-color:rgba((255,255,255),0.2);
  --ps-thumb-hover-color:rgba((255,255,255),035);
}

.scrollbar-container {
  position: relative;
  height: 100%;
}
.dg-body {
  flex:1
}
.dg-row{
  display: flex;
  flex-direction: row;
}
.dg-row.selectable-row {
  cursor: pointer;
}
.dg-row-item.row--horizontal-border{
  border-top: 1px solid rgba(192, 192, 192, 0.1);
}
.dg-row .dg-row-item {
  position: relative;
  background-color: rgba(40, 41, 43, 1);
  display: flex;
}
.dg-row .dg-cell {
  padding: 0.5rem 0.625rem;
  width: 100%;
  color: rgba(255, 255, 255, 0.85);
  text-overflow: ellipsis;
  word-break: break-word;
  border: 1px solid transparent;
}
.dg-freeze-end {
  right: 0;
}
.image-container {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
  line-height: 0;
}

.hd {
  margin-bottom: 0.35em;
  display: block;
}
.hd6{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.m-0 {
  margin: 0;
}
.app-overlay.no-background {
  pointer-events: none; /* xac dinh phan tu co phan ung voi su kien cua con tro hay hok*/
}
.app-overlay.dtp-overlay {
  border: none;
}
.app-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color:rgba(255, 255, 255, 0.85);
  justify-content: center;
  align-items: center;
  z-index: 1001;
}
.app-overlay.no-background .overlay-main {
  pointer-events: auto; 
}
.app-overlay.over-popover .overlay-main {
  position: absolute;
}
.app-overlay .overlay-main {
  position: relative;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
}
.dtp-overlay .m-input-moment {
  margin-top: 1px;
  background-color: rgb(50,51,53);
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: none;
  border-radius: 5px;
}
.m-input-moment {
  padding: 1rem;
}
.m-input-moment .option {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}
.m-input-moment .footer {
  margin-top: 10px;
}
.m-input-moment .option button.active {
  color: white;
  background-color: rgb(55, 114, 255);
}
.m-input-moment .option button:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.m-input-moment .option button {
  float: left;
  width: 50%;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  height: 32px;
  color: rgb(55, 114, 255);
  border: 1px solid rgb(55, 114, 255);
  border-radius: 6px;
  box-sizing: border-box;
}
.im-btn {
  display: inline;
  border: 0;
  outline: 0;
  cursor: pointer;
  line-height: 1;
}
.m-calendar {
  display: inline-block;
}
.m-calendar .toolbar {
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.m-calendar .toolbar button {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
  z-index: 5;
  cursor: pointer;

}
.m-calendar .prev-month , .m-calendar .next-month {
  color: rgba(255, 255, 255, 0.55);

}
.m-calendar .toolbar .prev-month i, .m-calendar .toolbar .next-month i {
  font-size: 1.25rem !important;
}
/* .m-calender .toolbar .prev-month-left i, .m-calender .toolbar .next-month-right i {
  font-size: 1.25rem !important;
} */
.m-calendar .toolbar .current-date button {
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-transform: capitalize;
  width: unset;
  text-align: center;
}
.m-calendar table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;

}
table {
  border-spacing: 0;
}
.m-calendar thead td {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 500;
}
.m-calendar td {
  padding: 0;
  width: 2rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.85);
}
.m-calendar tbody td .day-content {
  font-weight: 600;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  border-radius: 0.875rem;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.m-calendar .current-value .day-content {
  background-color: rgb(55, 114, 255);
  color: rgba(255,255,255,0.85);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
#modal-root {
  display: none;
}

.ps.scrollbar-container .ps__rail-y {
  z-index: 1;
  width: 6px;
}
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition-duration:  0.2s, 0.2s;
  transition-timing-function: linear,linear;
  transition-delay: 0s, 0s;
  width: 15px;
  right: 0;
  position:absolute;

}
.ps.scrollbar-container .ps__rail-y .ps_thumb-y {
  width: 100% !important;
}

.ps.scrollbar-container .ps_thumb-y {
  right: 0;
}
.ps_thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: linear, linear;
  transition-delay: 0s, 0s;
  width: 6px;
  right: 2px;
  position: absolute;
}

.toolbar {
  border-top: 1px solid;
}

.p-2 {
  padding: 0.5rem !important;
}
 
.paging-count {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  box-sizing: border-box;
  box-shadow: none;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.85);
  opacity: 0.9;
}

.m-time {
  margin: 1rem 0 2rem;
}
.m-time .showtime {
  text-align: center;
}
.m-time .time {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  color: rgb(255,162,61);
  background-color: rgba(255,162,61,0.1);
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 4rem;
  text-align: center;
}
.m-time .separater {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(255,162,61);
  width: 2rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
}
.m-time .sliders {
  padding: 0 10px;
}
.m-time .time-text {
  position: relative;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 500;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.range-slider__labels-container {
  margin-bottom: 4px;
  position: relative;
  z-index: 1;
}
.range-slider__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.range-slider__labels-container * {
  box-sizing: content-box;
}
.range-slider__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider__rail {
  display: block;
  position: absolute;
  background-color: rgba(192, 192, 192, 0.3);
  border-radius: 5px;
  width: 100%;
  height: inherit;
  top: 0;
}
.track {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(192, 192, 192, 0.3);
  border-radius: 5px;
  height: 5px;
}
.slider-mark-container {
  height: inherit;
}
.slider__range-thumb {
  width: min-content;
  height: min-content;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(98, 0, 283, 0.1);
  bottom: 0;
  background: transparent;
  cursor: pointer;
}