body {
    display: block;
    margin: 8px;
}

body:focus {
    outline: none;
}

.fullscreen {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.flex-sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 1px solid;

}


.top {
    display: flex;
    flex: 2 1 0%;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    text-align: center;
    margin: auto;
    height: 100%;
}


.featuresider {
    flex: 5 1 0%;
    display: flex;
    flex-direction: column;

}

.selec_top {
    display: flex;
    flex: 2 1 0%;
    flex-direction: column;
}

.main_item {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-around;
}

.item {
    display: flex;
}

.feature_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    text-align: inherit;
    color: black;
    position: relative;

}

.feature_item_logo {
    font-size: 1.5rem;
    margin: 0 4px;
}



.selec_bottom {
    display: flex;
    flex: 2 1 0%;
}

.selec_end {
    display: flex;
    flex: 1 3 0%;
}

/* .item_0 {
    display: flex;
    flex-direction: column;
} */

.selec_bottom {
    display: flex;
    flex: 2 1 0%;
}

/* .flex-sidebar>div.main>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    margin: auto;
} */

/* .flex-sidebar>div.main>ul>li {
    padding: 5%;
    text-decoration: none;
    font-size: 18px;
    margin: 3px;
    display: block;
    background-color: antiquewhite;
    border: 2px solid;

} */

.flex-center {
    display: flex;
    flex: 80%;
    height: 100%;
    flex-direction: column;
}

/* 
.flex-control {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    min-height: 0;
} */

.main-search {
    display: flex;
    vertical-align: middle;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

#search {
    width: 100%;
    height: 100%;

}

.main-fun {
    height: 100%;
}

.fun-top {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btn-logo {
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.portal-item>#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: 40%;
}

.fullND {
    display: flex;
    flex: 1 1 0%;
    height: 100vh;
}

.leftND {
    display: flex;
    flex-direction: column;
    width: 5%;
    border-right: 1px solid;
}

.pannelbody {
    display: flex;
    flex: 95%;
    height: 100vh;

}

.tabcontrol {
    display: flex;
    flex: 1 1 0%;
    min-height: 0;
    flex-direction: column;

}

.tabheaderwrap {
    border-bottom: 2px solid;
}

.headercontrol {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5px;
    box-sizing: border-box;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;


}

.tabtitle {
    font-weight: 700;
    border-right: 2px solid;
    padding-right: 10px;


}

.tabcontrol>.tabheaderwrap>.headercontrol>.tabtitle>.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabcontent {
    display: flex;
    flex: 1 1 0%;
    min-height: 0;
}

.tabcontentitem {
    display: flex;
    flex-direction: row;
    flex: 1 1 0%;
}

.cntinfo {
    display: flex;
    flex-direction: column;
    width: 30%;

}

.section {
    display: flex;
    flex-direction: column;
    flex: 8 1 0%;
}

.funtion {
    display: flex;
    flex-direction: column;

}

.fntgroup {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.fntitem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

.itemtitle {
    display: flex;
    flex: 1 1 0%;
    writing-mode: horizontal-tb;
    text-align: left;
}

.itemicon {
    display: flex;
    flex: 2 1 0%;
    flex-direction: row;

}

input {
    width: 100%;
}


.btnactive {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}

.cntmap {
    display: flex;
    flex-direction: column;
    width: 70%;
}